
$themes: (
  light: (
    baseColor: white,
    contrstColor: black,
    backgroundColor: #f5f7f9,
    borderColor: rgba(102, 102, 102, 0.33),
    aText: black,
    tableHeader: lighten(white, 12%),
    headerTag: #606971,
    stripOdd: #e9eaec,
    stripEven: #f5f7f9,
  ),
  dark: (
    baseColor: black,
    contrstColor: white,
    backgroundColor:lighten(black, 15%),
    borderColor: rgba(238, 237, 237, 0.33),
    tableHeader: lighten(black, 12%),
    aText: white,
    headerTag:lighten(black, 60%),
    stripOdd: lighten(black, 15%),
    stripEven: lighten(black, 17%),
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
