<template>
  <div class="fund-detail">
    <div v-if="!!fundData" class="main">
      <div class="card text-justify d-flex mx-auto pt-2 pb-2 pl-4 pr-4 mb-3">
        <strong><h2 class="text-center">{{fundData[0].name}}</h2> </strong>
      </div>
      <div class="d-flex mx-auto">
        <div class="mr-3">
          <div class="d-flex mb-3 left-div">
            <div class="card text-center mr-1 ml-1 big-card">
              <div class="card-header">
                {{$t('detail.category')}}
              </div>
              <h5 class="pt-4">{{fundData[0].category}}</h5>
            </div>
            <div class="card text-center mr-1 ml-1 big-card">
              <div class="card-header">
                {{$t('detail.planType')}}
              </div>
              <h5 class="pt-4">{{fundData[0].plan}}</h5>
            </div>
            <div class="card text-center mr-1 ml-1 big-card">
              <div class="card-header">
                {{$t('detail.expanseRatio')}}
              </div>
              <h5 class="pt-4">{{fundData[0].expense_ratio}}</h5>
            </div>
            <div class="card text-center mr-1 ml-1 big-card">
              <div class="card-header">
                {{$t('detail.nav')}}
              </div>
              <h5 class="pt-4">{{fundData[0].nav.nav}}</h5>
            </div>
          </div>
          <div class="card text-justify d-flex pt-2 pb-2 pl-4 pr-4 mb-3 left-div">
            <strong>{{$t('detail.investmentObjective')}} </strong> <span class="pt-3">{{fundData[0].investment_objective}}</span>
          </div>
          <div class="card text-justify d-flex pt-2 pb-2 pl-4 pr-4 mb-3 left-breakup">
            <a :href="fundData[0].detail_info" target="_blank"> {{$t('detail.moreInfo')}} </a>
          </div>
          <div class="card text-justify d-flex pt-2 pb-2 pl-4 pr-4 left-breakup">
             <router-link :to="{name: 'FundExplore'}">
                {{$t('detail.goBackToDasshboard')}}
             </router-link>
          </div>
        </div>
        <div class="right-div">
          <div v-if="fundData[0].returns" class="card mb-3 small-card">
            <div class="card-header font-weight-bold">
              {{$t('detail.returns')}}
            </div>
            <ul class="list-group list-group-flush list-group-striped">
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.1_yr')}}<span class="badge">{{fundData[0].returns.year_1}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.3_yr')}}<span class="badge">{{fundData[0].returns.year_3}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.5_yr')}}<span class="badge">{{fundData[0].returns.year_5}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.sinceInception')}}<span class="badge">{{fundData[0].returns.inception}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.date')}}<span class="badge">{{fundData[0].returns.date}}</span></li>
            </ul>
          </div>
          <div class="card mb-3 small-card">
            <div class="card-header font-weight-bold">
              {{$t('detail.investmentDetail')}}
            </div>
            <ul class="list-group list-group-flush list-group-striped">
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.aum')}}<span class="badge">{{fundData[0].aum}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.portfolioTurnover')}}<span class="badge">{{fundData[0].portfolio_turnover}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.openForSubscription')}}<span class="badge">{{(fundData[0].lump_available && fundData[0].sip_available) | convertYandN}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.minimumSip')}}<span class="badge">{{fundData[0].sip_min}}</span></li>
              <li class="list-group-item py-1 d-flex justify-content-between align-items-center">{{$t('detail.minimumLumpsum')}}<span class="badge">{{fundData[0].lump_min_additional}}</span></li>
            </ul>
          </div>
          <div class="card mb-3 small-card">
            <div class="card-header font-weight-bold">
              {{$t('detail.fundManager')}}
            </div>
            <ul class="list-group list-group-flush list-group-striped">
              <li class="list-group-item py-1">{{fundData[0].fund_manager}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.fund-detail {
  height: 100%;
  width: 100%;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('headerTag');
  }
  .card {
    @include themify($themes) {
      background-color: themed('tableHeader');
      color: themed('headerTag');
    }
  }
  padding: 50px;
  display: flex;
  justify-content: center;
  .ml-20 {
    margin-left: 20px;
  }
  .main {
    width: 1072px;
    .left-div {
      width: 800px;
      .big-card {
        width: 192px;
        height: 128px;
      }
    }
    .right-div {
      .small-card {
        width: 256px;
      }
    }
    ul.list-group.list-group-striped li:nth-of-type(odd){
      @include themify($themes) {
        background: themed('stripOdd');
      }
    }
    ul.list-group.list-group-striped li:nth-of-type(even){
      @include themify($themes) {
        background: themed('stripEven');
      }
    }
  }
}
</style>
<script>
import axios from 'axios';
import textConvertor from '../utils/textConvertor';

export default {
  name: 'FundDetail',
  mixins: [textConvertor],
  components: {
  },
  data() {
    return {
      fundData: null,
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      this.$store.commit('setBusyLoader', true);
      axios.get(`https://api.kuvera.in/api/v3/funds/${this.$route.params.code}.json`)
        .then((response) => {
          this.$store.commit('setBusyLoader', false);
          if (!!response) {
            this.fundData = response.data;
          }
        })
        .catch((oError) => {
          this.$store.commit('setBusyLoader', false);
          this.$store.commit('setModal', {
            show: true,
            title: 'API Error',
            message: `Dashboard data API request failed: ${oError}`,
          });
        });
    },
  },
}
</script>
