<template>
  <div class="fund-explore">
    <div class="title">
      <nav class="navbar navbar-light">
        <span class="navbar-brand font-weight-bold">{{ $t('explore.title') }}</span>
        <form class="form-inline">
          <select class="custom-select custom-select-sm ml-2" v-model="selectedFundCategory" @change="onFundCategorySelect">
            <option v-for="(option) in selectOptions.fundCategory" :key="option" :value="option">{{option}}</option>
          </select>
          <select class="custom-select custom-select-sm ml-2 ml-4" v-model="selectedFundType" @change="onFundTypeSelect">
            <option v-for="(option) in selectOptions.fundType" :key="option" :value="option">{{option}}</option>
          </select>
          <select class="custom-select custom-select-sm ml-2 ml-4" v-model="selectedPlan" @change="onPlanSelect">
            <option v-for="(option) in selectOptions.plan" :key="option" :value="option">{{option}}</option>
          </select>
          <input class="form-control form-control-sm mr-sm-2 ml-4" @keyup="onSearch" v-model="searchString" type="text" placeholder="Search" aria-label="Search">
          <span class="my-2 my-sm-0"><strong>{{filteredData.length}} </strong>{{ $t('explore.fundsAvailable')}}</span>
          <input class="btn btn-outline-secondary btn-sm ml-4" type="reset" :value="$t('explore.reset')" @click="onResetClick">
        </form>
      </nav>
    </div>
    <div class="main">
      <table class="table table-sm">
        <thead>
          <tr @click="onSort" title="Please click on column name to sort">
            <th width="1%" data-text="sr">
              <div class="th-content" data-text="sr">
                {{$t('explore.serial')}}
              </div>
            </th>
            <th width="5%" data-text="code">
              <div class="th-content" data-text="code">
                {{$t('explore.table.code')}}
                <v-icon data-text="code" class='ml-2' v-if="sortColumnName === 'code'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%" data-text="name">
              <div class="th-content" data-text="name">
                {{$t('explore.table.name')}}
                <v-icon data-text="name" class='ml-2' v-if="sortColumnName ==='name'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="category">
                {{$t('explore.table.category')}}
                <v-icon data-text="category" class='ml-2' v-if="sortColumnName ==='category'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="reinvestment">
                {{$t('explore.table.reinvestment')}}
                <v-icon data-text="reinvestment" class='ml-2'  v-if="sortColumnName ==='reinvestment'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="fund_house">
                {{$t('explore.table.fund_house')}}
                <v-icon data-text="fund_house" class='ml-2' v-if="sortColumnName ==='fund_house'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="fund_type">
                {{$t('explore.table.fund_type')}}
                <v-icon data-text="fund_type" class='ml-2' v-if="sortColumnName ==='fund_type'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="fund_category">
                {{$t('explore.table.fund_category')}}
                <v-icon data-text="fund_category" class='ml-2' v-if="sortColumnName ==='fund_category'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="plan">
                {{$t('explore.table.plan')}}
                <v-icon data-text="plan" class='ml-2' v-if="sortColumnName ==='plan'" :name="sortIcon"/>
              </div>
            </th>
            <th width="3%">
              <div class="th-content" data-text="year_1">
                {{$t('explore.table.1_yr')}}
                <v-icon data-text="year_1" class='ml-2' v-if="sortColumnName ==='year_1'" :name="sortIcon"/>
              </div>
            </th>
            <th width="3%">
              <div class="th-content" data-text="year_3">
                {{$t('explore.table.3_yr')}}
                <v-icon data-text="year_3" class='ml-2' v-if="sortColumnName ==='year_3'" :name="sortIcon"/>
              </div>
            </th>
            <th width="3%">
              <div class="th-content" data-text="year_5">
                {{$t('explore.table.5_yr')}}
                <v-icon data-text="year_5" class='ml-2' v-if="sortColumnName ==='year_5'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="inception">
                {{$t('explore.table.inception')}}
                <v-icon data-text="inception" class='ml-2' v-if="sortColumnName ==='inception'" :name="sortIcon"/>
              </div>
            </th>
            <th width="7%">
              <div class="th-content" data-text="date">
                {{$t('explore.table.date')}}
                <v-icon data-text="date" class='ml-2' v-if="sortColumnName ==='date'" :name="sortIcon"/>
              </div>
            </th>
            <th width="5%">
              <div class="th-content" data-text="volatility">
                {{$t('explore.table.volatility')}}
                <v-icon data-text="volatility" class='ml-2' v-if="sortColumnName ==='volatility'" :name="sortIcon"/>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, i) in infiniteTableData" :key='row.code'>
            <td>{{i+1}}</td>
            <td>{{row.code}}</td>
            <td>
              <router-link :to="{name: 'FundDetail' , params: { code: row.code }}">
                {{row.name}}
              </router-link>
            </td>
            <td>{{row.category}}</td>
            <td>{{row.reinvestment | convertYandN}}</td>
            <td>{{row.fund_house}}</td>
            <td :class="filteredColumn === 'fund_type' ? 'filteredColumn': ''">{{row.fund_type}}</td>
            <td :class="filteredColumn === 'fund_category' ? 'filteredColumn': ''">{{row.fund_category}}</td>
            <td :class="filteredColumn === 'plan' ? 'filteredColumn': ''">{{row.plan}}</td>
            <td>{{row.returns.year_1}}</td>
            <td>{{row.returns.year_3}}</td>
            <td>{{row.returns.year_5}}</td>
            <td>{{row.returns.inception}}</td>
            <td>{{row.returns.date}}</td>
            <td>{{row.volatility}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.fund-explore {
  height: 100%;
  width: 100%;
  @include themify($themes) {
    background-color: themed('backgroundColor')!important;
    color: themed('headerTag');
  }
  a {
    color: #007bff!important;
    text-decoration: none;
    background-color: transparent;
  }
  .title {
    height: 51px;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    margin: auto;
    .navbar {
      @include themify($themes) {
        background-color: themed('stripOdd');
        color: themed('headerTag');
      }
      .navbar-brand {
        padding-left: 1.5%;
         @include themify($themes) {
          color: themed('headerTag');
        }
      }
      @include themify($themes) {
        background-color: themed('backgroundColor');
        color: themed('headerTag');
      }
    }
    .form-inline {
      * {
         background-color: transparent;
          @include themify($themes) {
          color: themed('headerTag');
        }
      }
      select {
        @include themify($themes) {
          background-color: themed('stripOdd');
        }
      }
    }
  }
  .main {
    @include themify($themes) {
      background-color: themed('backgroundColor');
      color: themed('headerTag');
    }
    padding-top: 50px; // ideally 50px but 1px is coming from somewhere unknowingly
    width: 100%;
  }
  table {
    width: 100%;
    @include themify($themes) {
      color: themed('headerTag');
    }
    a {
      @include themify($themes) {
        color: themed('headerTag');
      }
    }
  }
  tr:nth-of-type(odd){
    @include themify($themes) {
      background: themed('stripOdd');
    }
  }
  tr:nth-of-type(even){
    @include themify($themes) {
      background: themed('stripEven');
    }
  }
  td {
    border: 0px;
  }
  table.floatThead-table {
    border-top: none;
    border-bottom: none;
  }
  th {
    position: sticky;
    top: 50px;
    border: 0px;
    .th-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include themify($themes) {
      background: themed('tableHeader');
    }
    cursor: pointer;
    padding: 10px 0px;
  }
  .filteredColumn {
    @include themify($themes) {
      background: themed('stripEven');
    }
  }
}
</style>
<script>
import axios from 'axios';
import { debounce } from 'debounce';
import 'vue-awesome/icons/sort-up';
import 'vue-awesome/icons/sort-down';
import Icon from 'vue-awesome/components/Icon';
import { mapGetters } from 'vuex';
import textConvertor from '../utils/textConvertor';

export default {
  name: 'FundExplore',
  mixins: [textConvertor],
  components: {
    'v-icon': Icon,
  },
  data() {
    return {
      searchString: '',
      filteredData: [],
      infiniteTableData: [],
      lastMaxScrollPosition: 0,
      sortIcon: null,
      sortColumnName: '',
      filteredColumn: null,
      selectedFundType: 'Select Fund type',
      selectedPlan: 'Select Plan',
      selectedFundCategory: 'Select Fund Category',
      // isthrottled: false,
    }
  },
  computed: {
    ...mapGetters([
      'selectOptions',
    ]),
    tableData() {
      return this.$store.state.dashboardData;
    }
  },
  created() {
    window.addEventListener('scroll', this.onLoadMore);
  },
  destroyed() {
    window.removeEventListener('scroll', this.onLoadMore);
  },
  watch: {
    filteredData() {
      window.removeEventListener('scroll', this.onLoadMore); // remove scroll event if event already exist
      window.addEventListener('scroll', this.onLoadMore);
      this.lastMaxScrollPosition = 0;
      this.infiniteTableData = [];
      this.populateData(0, 2000);
    },
  },
  mounted() {
    Promise.resolve()
    .then(() => {
      if (!this.tableData.length) {
        return this.getData();
      }
    })
    .then(() => { this.filteredData = this.tableData; })
    .catch(() => {
      console.warn('Data processing error');
    });
  },
  methods: {
    getData() {
      return new Promise((resolve) => {
        this.$store.commit('setBusyLoader', true);
        axios.get(`https://api.kuvera.in/api/v3/funds.json`)
          .then((response) => {
            this.$store.commit('setBusyLoader', false);
            if (!!response) {
              this.$store.commit('setDashboardData', response.data);
            }
            resolve();
          })
          .catch((oError) => {
            this.$store.commit('setBusyLoader', false);
            this.$store.commit('setModal', {
              show: true,
              title: 'API Error',
              message: `Dashboard data API request failed: ${oError}`,
            });
            resolve();
          });
      });
    },
    onFundCategorySelect() {
      if (this.selectedFundCategory !== 'Select Fund Category') {
        this.setFilterValues('Select Fund type', 'Select Plan', this.selectedFundCategory, '', this.selectedFundCategory, 'fund_category');
      } else {
        this.onResetClick();
      }
    },
    onFundTypeSelect() {
      if (this.selectedFundType !== 'Select Fund type') {
        this.setFilterValues(this.selectedFundType, 'Select Plan', 'Select Fund Category', '', this.selectedFundType, 'fund_type');
      } else {
        this.onResetClick();
      }
    },
    onPlanSelect() {
      if (this.selectedPlan !== 'Select Plan') {
        this.setFilterValues('Select Fund type', this.selectedPlan, 'Select Fund Category', '', this.selectedPlan, 'plan');
      } else {
        this.onResetClick();
      }
    },
    onSearch() {
      this.setFilterValues('Select Fund type', 'Select Plan', 'Select Fund Category', this.searchString, this.searchString, null);
    },
    onResetClick() {
      this.setFilterValues('Select Fund type', 'Select Plan', 'Select Fund Category', '', '', null);
    },
    setFilterValues(type, plan, category, search, filterString, key) {
      this.selectedFundType = type;
      this.selectedPlan = plan;
      this.selectedFundCategory = category;
      this.searchString = search;
      if (!!key) {
        this.filteredColumn = key;
        this.performFilter(filterString, key);
      } else {
        this.filteredColumn = null;
        debounce(this.performSearch(filterString), 500);
      }
    },
    performSearch(searchString) {
      this.$store.commit('setBusyLoader', true);
      setTimeout(() => {
        const s = searchString.toString().toLocaleLowerCase();
        if (s !== '' && s.length > 3) {
          this.filteredData = this.tableData.filter((row) => {
            let flag = false;
            for (const key in row) {
              if (row.hasOwnProperty(key) && !!row[key]) {
                const rowValue = row[key];
                if (key === 'returns') { // nested object
                  for (const innerKey in rowValue) {
                    if (rowValue.hasOwnProperty(innerKey) && !!rowValue[innerKey]) {
                      flag = rowValue[innerKey].toString().toLocaleLowerCase().includes(s);
                      if (flag) {
                        return flag;
                      }
                    }
                  }
                } else {
                  flag = rowValue.toString().toLocaleLowerCase().includes(s);
                  if (flag) {
                    return flag;
                  }
                }
              }
            }
          });
        } else if (s === '') {
          this.filteredData = this.tableData;
        }
        this.$store.commit('setBusyLoader', false);
      }, 0);
    },
    performFilter(searchString, keyProperty) {
      this.$store.commit('setBusyLoader', true);
      setTimeout(() => {
        const s = searchString.toString().toLocaleLowerCase();
        this.filteredData = this.tableData.filter((row) => {
          let flag = false;
          for (const key in row) {
            if (row.hasOwnProperty(key) && !!row[key] && key === keyProperty) {
              flag = row[key].toString().toLocaleLowerCase().includes(s);
              if (flag) {
                return flag;
              }
            }
          }
        });
        this.$store.commit('setBusyLoader', false);
      }, 0)
    },
    onSort(event) {
      this.$store.commit('setBusyLoader', true);
      setTimeout(() => { // executing after pushing busy loader in the event loop
        const target = this.getEventTarget(event);
        const column = target.getAttribute('data-text');
        if (column === 'sr') { return; }
        let sortOrder;
        if (this.sortIcon && this.sortColumnName === column && this.sortIcon === 'sort-up') {
          this.sortIcon = 'sort-down';
          sortOrder = -1;
        } else {
          sortOrder = 1;
          this.sortIcon = 'sort-up';
          this.sortColumnName = column;
        }
        if (this.sortColumnName === 'year_1' || this.sortColumnName === 'year_3' || this.sortColumnName === 'year_5' || this.sortColumnName === 'inception' || this.sortColumnName === 'date') { // tslint:disable-line
          const rs = 'returns';
          this.filteredData = this.filteredData
            .sort((a, b) => (a[rs][this.sortColumnName] < b[rs][this.sortColumnName]) ? -1 * sortOrder : ((b[rs][this.sortColumnName] < a[rs][this.sortColumnName]) ? sortOrder : 0)); // tslint:disable-line
        } else {
          this.filteredData = this.filteredData
            .sort((a, b) => (a[this.sortColumnName] < b[this.sortColumnName]) ? -1 * sortOrder : ((b[this.sortColumnName] < a[this.sortColumnName]) ? sortOrder : 0)); // tslint:disable-line
        }
        this.$store.commit('setBusyLoader', false);
      }, 0);
    },
    getEventTarget(e) {
      e = e || window.event;
      return e.target || e.srcElement;
    },
    onLoadMore(event) {
      if (this.infiniteTableData.length < this.filteredData.length) {
        this.populateData(this.infiniteTableData.length, 2000);
      } else {
        window.removeEventListener('scroll', this.onLoadMore);
      }
    },
    populateData(start, length) {
      if (length <= 0) { return; }
      if (this.infiniteTableData.length < this.filteredData.length) {
        for (let count = 0; count < length && (start + count) < this.filteredData.length; count += 1) {
          this.infiniteTableData.push(this.filteredData[start + count]);
        }
      }
    },
    // _throttle(time) {
    //   if (!this.isthrottled) {
    //     this.isthrottled = true;
    //     this.onLoadMore();
    //     setTimeout(() => this.isthrottled = false, 100);
    //   }
    // },
  },
}
</script>
