<template>
  <div class="home">
    <div class="main-content">
      <div class="card text-center d-flex mx-auto">
        <div class="card-body">
          <h1 class="card-title">{{ $t('home.welcomeMsg') }}</h1>
          <p class="card-text"></p>
          <router-link :to="{name: 'FundExplore'}">
            <button class="btn btn-outline-secondary mt-4">
              <strong>{{ $t('home.navToHomePage') }}</strong>
            </button>
          </router-link>
        </div>
      </div>
    </div>
    <div class="other-content d-flex">
      <div @click="changeTheme()">
        {{ $t('home.changeTheme') }}
        <svg v-if="isThemeLight" class="pl-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
        <svg v-else class="pl-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffc107" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </div>
      <div class="ml-5" @click="changeLanguage()">
        {{ $t('home.changeLanguage')}}
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.home {
  height: 100%;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('headerTag');
  }
  .main-content {
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    .card {
      max-height: 25%;;
      background: transparent;
      border: 0;
      a {
        @include themify($themes) {
          color: themed('aText');
        }
        // color: black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .other-content {
    height: 30px;
    cursor: pointer;
    justify-content: center;
  }
}
</style>
<script>
export default {
  name: 'Home',
  components: {
  },
  computed: {
    isThemeLight() {
      return this.$store.state.isThemeLight;
    }
  },
  methods: {
    changeTheme() {
      this.$store.commit('updateTheme', !this.isThemeLight);
    },
    changeLanguage() {
      this.$i18n.locale = this.$i18n.locale === 'en' ? 'hi' : 'en';
    }
  }
}
</script>
