<template>
  <transition name="modal-fade">
    <div class="custom-modal">
      <div class="custom-modal-content" role="dialog">
        <header class="custom-modal-header">
          <slot name="header">
            <h4>{{modal.sTitle}}</h4>
            <button type="button" class="btn-close" @click="close">x</button>
          </slot>
        </header>
        <section class="custom-modal-body">
          <slot name="body">
            <label>{{modal.sMsg}}</label>
          </slot>
        </section>
        <footer class="custom-modal-footer">
          <slot name="footer">
            <button type="button" class="btn-okay" @click="close">Okay</button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal',
  methods: {
    close() {
      this.$store.commit('setModal', { show: false, title: '', message: '' });
    },
  },
  computed: {
    modal() {
      return this.$store.state.modal;
    },
  },
};
</script>

<style scoped lang="scss">
.modal-fade-enter {
  opacity: 0;
}
.modal-fade-leave-active {
  opacity: 0;
  transition: opacity 0.005s ease;
}
.modal-fade-enter-active {
  transition: opacity 0.05s ease;
}
.custom-modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  @include themify($themes) {
    background-color: themed('tableHeader');
    color: themed('headerTag');
  }
  .custom-modal-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border-radius: 2%;
    overflow: hidden;
    // background-color: #fafbfb;
    // background: #fafbfb;
    border: 1px solid;
    @include themify($themes) {
      border-color: themed('stripEven');
    }
    -webkit-box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
    box-shadow: 0px 0px 20px 0px rgba(77, 77, 77, 1);
  }
  .custom-modal-header {
    @include themify($themes) {
      border-color: themed('stripEven');
    }
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    display: table;
    // background-color: #ededed;
    width: 100%;
    h4 {
      margin: 0%;
      width: 90%;
      display: table-cell;
      vertical-align: middle;
    }
    .btn-close {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
      color: #525252;
    }
  }
  .custom-modal-footer {
    @include themify($themes) {
      border-color: themed('stripEven');
    }
    border-top: 1px solid;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    button {
        @include themify($themes) {
    // background-color: themed('tableHeader');
    color: themed('headerTag');
  }
      background: transparent;
    }
    // background-color: #ededed;
  }
  .custom-modal-body {
    max-height: 230px;
    overflow-y: auto;
    padding: 20px 10px;
    position: relative;
    word-break: break-word;
    @include themify($themes) {
      background-color: themed('backgroundColor');
    }
    // background-color: #fafbfb;
  }
}
</style>
