<template>
  <div id="app" :class='getTheme'>
    <modal v-show="modal.bShow" />
    <div class="busy" v-if='showBusyLoader'>
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('headerTag');
  }
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('headerTag');
  }
  .busy {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    @include themify($themes) {
      background: themed('backgroundColor');
      color: themed('headerTag');
    }
    .lds-ring {
      display: inline-block;
      width: 64px;
      height: 64px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid  rgba(102, 102, 102, 0.33);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color:  rgba(102, 102, 102, 0.33) transparent transparent transparent;
        &:nth-child(1) {
          animation-delay: -0.45s;
        }
        &:nth-child(2) {
          animation-delay: -0.3s;
        }
        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
<script>
import Modal from '@/components/Modal.vue';
import { mapState } from 'vuex';
export default {
  components: {
    Modal,
  },
  computed: {
    getTheme() {
      return this.$store.state.isThemeLight ? 'theme-light' : 'theme-dark';
    },
    ...mapState([
      'modal',
      'showBusyLoader'
    ])
  },
}
</script>
